.container {
  display: flex;
  .nav-left {
    width:15% ;
    min-width: 200px;
    height: calc(100vh);
    background: rgba(95, 158, 160, 0.83);
  }
  .main {
    height: 100%;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}